# Ignore all directories starting with "arepo_"
arepo_*/

# Ignore specific directories
*los/
*stats/
*pytests/

# Ignore all directories or files with these patterns
random*
*generated
__*
*.png
*.gif
*json
*.out
.ipynb*

# Ignore specific files
localvenv
