# Ignore all directories starting with "arepo_"
arepo_*/

# Ignore specific directories
field_shapes/
pytests/
cluster_outputs/
discontinuities/
density_profiles/
jsonfiles/
output

# Ignore all directories or files with these patterns
*/
random*
*generated
__*
*.png
*.gif
*json
*.out
.ipynb*

# Ignore specific files
colors.py
rs_output
histograms
multiprocessing_test.py
localvenv
