#
arepo_*/
field_shapes/
pytest/
*.png
colors.py
rs_output
random*
*.gif
localvenv
*generated
histograms
__*
.ipynb*
multiprocessing_test.py
cluster_outputs/
discontinuities/
density_profiles/
*json
*.out
output
jsonfiles/